.question {
    font-weight: 700;
    font-size: 24px;
    padding: 30px 70px;
    margin-bottom: 20px;
    list-style-type: none;
    position: relative;
    transition-duration: .2s;
}

.question-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.question-answer{
    height: 0;
    overflow: hidden;
    transition: height .4s ease-in-out;
}

.question-active{

    height: auto;
}
.question > p{
    color: #1C1A1A;
    font-weight: 700;
    font-size: 24px;
}

.question:nth-child(even) {
    background-color: #440F51;
    color: #fff;
}

.question:nth-child(odd) {
    background-color: #fff;
}

.question:nth-child(odd) > .question-answer p, 
.question:nth-child(odd) > .question-header p {
    color: #000 ;
}


.question:nth-child(even) > p{
    color: #fff;
}

/* icon */
.question-header > span {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    position: relative;
    transition: all .4s ease;
}

.question-header > span:before{
    content: "";
    width: 20px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.question-header > span:after{
    content: "";
    width: 1px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.question-header > span:before, .question-header > span:after{
    transition: all .4s ease;
}
/*  */

/* even */
.question:nth-child(even) > .question-header span {
    border: 2px solid #fff;
}

.question:nth-child(even):hover > .question-header span {
    background: #fff;
}

.question:nth-child(even) > .question-header span:after, .question:nth-child(even) > .question-header span:before{
    background-color: #fff;
}

.question:nth-child(even):hover > .question-header span:after, .question:nth-child(even):hover > .question-header span:before{
    background-color: var(--bright-color);
}

.question:nth-child(even):active > .question-header span {
    background: transparent;
}

.question:nth-child(even):active > .question-header span:after{
    width: 0px;
}

.question:nth-child(even):active > .question-header span:before{
    background-color: #fff;
}
/*  */

/* odd */
.question:nth-child(odd) > .question-header span {
    border: 2px solid var(--bright-color);
}

.question:nth-child(odd):hover > .question-header span {
    background: var(--bright-color);
}

.question:nth-child(odd) > .question-header span:after, .question:nth-child(odd) > .question-header span:before{
    background-color: var(--bright-color);
}

.question:nth-child(odd):hover > .question-header span:after, .question:nth-child(odd):hover > .question-header span:before{
    background-color: #fff;
}

.question:nth-child(odd):active > .question-header span {
    background: transparent;
}

.question:nth-child(odd):active > .question-header span:after{
    width: 0px;
}

.question:nth-child(odd):active > .question-header span:before{
    background-color: var(--bright-color);
}

.question:nth-last-child(1){
    margin-bottom: 0;
}